<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br><br>
      <h1 class="white-text center">{{title}}</h1>
      <div class="white-text center">
        <h4>Runner's World Top Headlines</h4>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="../images/runnergirl.jpg" alt="runner girl"></div>
</div>
<br>
<div class="container">
  <div id="wrapper">
    <div class="row">
      {{#each articles}}
      <div class="col s12">
        <div class="card article-card">
          <div class="row">
            <img class="article-img left" src="{{ this.imageLink }}">
            <div class="card-content center-align">
              <a class="blue-grey-text" href="https://{{this.link}}">
                <p>{{ this.title }}</p>
              </a>
              <br>
              <p class="center-block overflow-hidden">{{ this.summary }}</p>
            </div>
            <div class="center-align">
              <a class="waves-effect waves-light amber btn save" data-id="{{this._id}}">Save Article</a></div>
          </div>
        </div>
      </div>
      {{/each}}
      {{#unless articles.length}}
  <div class='alert text-center'>
    <h4>Uh Oh. Looks like we don't have any new articles.</h4>
  </div>
  <div class="card">
    <div class="card-header text-center">
      <h3>What Would You Like To Do?</h3>
    </div>
    <div class="card-body text-center">
      <h4>
        <a class="scrape-new">Try Scraping New Articles</a>
      </h4>
      <h4>
        <a href="/saved">Go to Saved Articles</a>
      </h4>
    </div>
  </div>
  {{/unless}}
    </div>
  </div>
</div>